/*Global*/
.App {
  text-align: center;
}
main{
  
  width: 100%;
  height: 100%;
  align-items: center;

  display: inline-block;
}
h1{
  color: #00487B;
  font-size: x-large;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.274);
}
/*All CSS for introduction*/
.introduction{
  width: 100%;
  display: inline-block;
  background-image: url('./assets/background.jpg');
  background-size: 1000px;
}
.introduction-container{
  display: inline-block;
  align-items: center;
  margin-left: 40px;
  width: 70%;
}
.pfp{
  width: 40%;
  height: 40%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.nameAndTitle{
  float: left;
  text-align: right;
  margin-bottom: 15%;
  margin-top: 6%;
}
.alumni{
  float: right;
  text-align: left;
  margin-top: 25%;
}
.name{
  color: #ffffff;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.514);
  font-size: xx-large;
  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.name:hover{
  text-decoration: underline;
}
.role{
  color: #ffffff;
  text-shadow: 0px 3px 2px rgb(0, 0, 0);
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 5s; /* don't forget to set a duration! */
}
.role2{
  color: #ffffff;
  text-shadow: 0px 3px 2px rgb(0, 0, 0);

  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 7s; /* don't forget to set a duration! */
}
.status{
  color: #ffffff;
  text-shadow: 0px 3px 2px rgb(0, 0, 0);
  font-size: x-large;
  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.uni{
  color: #e6e6e6;
  text-shadow: 0px 3px 2px rgb(0, 0, 0);
  font-size: x-large;
  animation: backInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.locale{
  text-shadow: 0px 3px 2px rgb(0, 0, 0);
  color: #ffffff;
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 3s; /* don't forget to set a duration! */
}
.degree{
  color: #ffffff;
  text-shadow: 0px 3px 2px rgb(0, 0, 0);
  animation: fadeIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 7s; /* don't forget to set a duration! */
}
/*All about me css*/
.aboutMe{
  width: 100%;
  display: inline-block;
  align-items: center;
  background-color:#eeeeee;

}
.aboutMeContainer{
  display: inline-block;
  width: 55%;
}
.pfp2{
  margin-right: 30px;
  width: 200px;
  height: 250px;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.671);

}
p{
  text-align: left;
  color: #eeeeee;
  padding: 20px;
  font-size: large;
  font-weight: 700;
  text-shadow: 0px 2px 2px rgb(0, 0, 0);
}
.textContainer{
  display: inline-block;
  width: 70%;
  margin-left: 20px;
  background-color: #00487B;
  border: solid 4px #e4d835;
  border-radius: 20px;
  margin-bottom: 30px;
}
/*All skills css*/
.skill{
  width: 100%;
  display: inline-block;


}
.skillLogos{
  padding: 50px;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Maintain aspect ratio */
  margin-bottom: 5px;
}
.skillLogos:hover{
  padding: 50px;
  width: 100px; /* Adjust width as needed */
  height: 100px; /* Maintain aspect ratio */
  animation: shakeY, flash; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
.captionContainer{
  display: inline-block;
}
figcaption{
  font-family: Georgia,;
  color: #00487B;
  font-weight: bold;
  margin-bottom: 40px;
}
/*App CSS*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b3b3b3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
