.footnoteContainer{
    width: 100%;
    height: 40px;
    background-color: #c9c9c9;
}
.footnotes ul{
    list-style-type: none;   
    text-decoration: none;
}
.footnotes ul li{
    font-weight: bold;
    font-family: Georgia,;
    letter-spacing: 0.5px;
    list-style-type: none;   
    text-decoration: none;

}